
    <div class="row">
                
                      <div class="col-sm-4">
                            <mdb-card class="small">
                                
                                <mdb-card-body>
                                    <mdb-card-title>
                                        <h5>Sélections interclubs</h5>
                                      </mdb-card-title>
                                    

                                    <div>
                                        <mat-form-field>
                                            <mat-label>Categorie</mat-label>
                                            <mat-select matNativeControl [(ngModel)]="selectedCategory" name="category" 
                                                (selectionChange)="onChangeCategory($event)">
                                            <mat-option value="" selected></mat-option>
                                            <mat-option *ngFor="let i of interclubs" [value]="i">
                                                Categorie {{i.synonyme}}
                                            </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div>
                                        <mat-form-field>
                                            <mat-label>Semaine</mat-label>
                                            <mat-select matNativeControl [(ngModel)]="selectedSemaine" name="semaine" 
                                                (selectionChange)="onChangeSemaine($event)">
                                            <mat-option value="" selected></mat-option>
                                            <mat-option *ngFor="let w of semainesByInterclubsCategory" [value]="w">
                                                Semaine {{w.weekName}} du {{w.startOfWeek | date:'dd/MM/yyyy'}} au {{w.endOfWeek | date:'dd/MM/yyyy' }}.
                                            </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>
                        </div>
    
                        <div class="col-sm-8">
                            <mdb-card id="maselect" class="small">
                                
                                <mdb-card-body>
                                    <mdb-card-title>
                                        <h5>Votre sélection</h5>
                                      </mdb-card-title>
                                      <p *ngIf="currentUserSelectionMatch" style="text-align: center;">Vous avez été sélectionné pour le match : <b>  {{ currentUserSelectionMatch.HomeTeam }}  &nbsp; ({{ currentUserSelectionMatch.HomeClub }}) </b> contre <b>   {{ currentUserSelectionMatch.AwayTeam }} &nbsp; ({{ currentUserSelectionMatch.AwayClub }})</b> 
                                        <br>
                                    </p>
                                      
                                      <table mdbTable small="true" hover="true" >
                                        <tr>
                                            <th style="width: 5%" scope="col">N°</th>
                                            <th style="width: 5%" scope="col">Indice</th>
                                            <th style="width: 20%" scope="col">Joueur</th>
                                            <th style="width: 5%" scope="col">Classement</th>
                                            <th style="width: 5%" scope="col">Statut</th>
                                            <th style="width: 10%" scope="col">Commentaire</th>
                                            
                                        </tr>
                                         <tr>
                                             <th scope="row">
                                                <span *ngIf="currentUserSelection">{{ currentUserSelection.sel.position }}</span>
                                            </th>            
                                            <td>
                                                <span *ngIf="currentUserSelection">{{ currentUserSelection.sel.ranking_index }}</span>
                                                
                                            </td>   
                                            <td>
                                                <span *ngIf="currentUserSelection">{{ currentUserSelection.user.prenom + ' '+ currentUserSelection.user.nom }}</span>
                                            </td>    
                                            <td>
                                                <span *ngIf="currentUserSelection">{{ currentUserSelection.ldf.listeDeForce.classement }}</span>
                                            </td>          
                                                
                                            <td>
                                                <span><select class="mdb-select md-form">
                                                    <option value="" disabled selected>Votre statut</option>
                                                    <option value="1">OK</option>
                                                    <option value="2">OK sur place</option>
                                                    <option value="3">WO</option>
                                                    <option value="3">WO BYE</option>
                                                  </select>
                                                </span>
                                                
                                            </td>
                                            <td>
                                                <textarea name="commentaire" id="commentaire" name="commentaire" class="form-control" placeholder="Ecrivez votre commentaire ici" cols="15" rows="2"></textarea>
                                            </td>
                                            
                                        </tr> 

                                        
                                       
                                    </table>
                                    <p *ngIf="currentUserSelectionMatch" style="text-align: center;">
                                        <span class="badge badge-success badge_style" title="Valider la version de travail" (click)="onSelectionChoice()"><i class="fas fa-check"></i>Valider ma sélection</span> 
                                        &nbsp;
                                        <span class="badge badge-success badge_style" href="#maselect" title="Consulter mon équipe" (click)="onSelectionChoice()"><i class="fas fa-eye"></i>Consulter mon équipe</span>                                        
                                        &nbsp;
                                        </p>
                                    
                                   <!--  <span *ngIf="currentUserSelection">{{ currentUserSelection.sel.interclubs_match_id }}</span> -->
                                    <!--<span *ngIf="currentUserSelection">ALL: {{ currentUserSelection | json }}</span>
                                    <br><br><br>
                                     <span *ngIf="currentUserSelection">ALL: {{ currentUserSelection.ldf[0]}}</span> -->
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                        
    </div>


  <div *ngIf="teamSelectionData">
      <div *ngFor="let teamData of teamSelectionData">
        <div *ngIf="teamData.selectionsLoaded">
          <app-selection-information-by-team [teamData]="teamData"></app-selection-information-by-team>
        </div>
      </div>
  </div>



 
  
  