

 <!-- <table>
    <tbody>
        <tr *ngFor = "let semaine of semaines"> 

            <td> Semaine {{semaine.weekNumber}} du {{semaine.startOfWeek | date:'dd/MM/yyyy'}} au {{semaine.endOfWeek | date:'dd/MM/yyyy' }}.</td>

        </tr>
    </tbody>
</table>  

<p>Interclub Hommes</p>

 <div class="dropdown" mdbDropdown>

    <button mdbDropdownToggle mdbBtn color="danger" class="dropdown-toggle waves-light" type="button"
      mdbWavesEffect>
      Sélectionnez une semaine
    </button>
    <div class="dropdown-menu dropdown-danger" >
        <div *ngFor = "let semaine of semaines">
            <button class="dropdown-item" href="#">Semaine {{semaine.weekNumber}} du {{semaine.startOfWeek | date:'dd/MM/yyyy'}} au {{semaine.endOfWeek | date:'dd/MM/yyyy' }}.</button>
        </div>
    </div>
  </div> 

<hr>-->
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <mdb-card>
                <mdb-card-header>Liste des joueurs sélectionnables</mdb-card-header>
                <mdb-card-body>
    
                 <div *ngIf="listeDesForces">
                        <!-- <mat-form-field>
                            <mat-label>Joueurs sélectionnables</mat-label>
                            <mat-select > 
                                <mat-option value="" selected></mat-option>
                                <mat-option *ngFor="let ldf of listeDesForces" [value]="ldf.participant.id">
                                    {{ ldf.participant.nom}} {{ ldf.participant.prenom }}
            
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
      <!--                   <select>
                            <option *ngFor="let item of listeDesForces" 
                                value="item.participant.id">{{ item.participant.nom}} {{ item.participant.prenom}}</option>
                        </select> -->

                        <table mdbTable small="true" hover="true" class="ldf-table">
                            <tr mdbTableCol  *ngFor="let item of listeDesForces; let ix = index" 
                            (click)="setClickedLdfRow(ix, item)"
                                [class.active]=" ix === selectedLdfRow ">
                                    <td scope="row">{{ item.participant.nom}}</td>
                                    <td>{{ item.participant.prenom}}</td>
                            </tr>
                        </table> 

                    </div> 
                    
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-5">
        <mdb-card>
            <mdb-card-header>Choix des critères de sélections</mdb-card-header>
            <mdb-card-body>

                <div>
                    <mat-form-field>
                        <mat-label>Semaine</mat-label>
                        <mat-select matNativeControl [(ngModel)]="selectedSemaine" name="semaine" 
                            (selectionChange)="onChangeSemaine($event)">
                        <mat-option value="" selected></mat-option>
                        <mat-option *ngFor="let w of semaines" [value]="w">
                            Semaine {{w.weekName}} du {{w.startOfWeek | date:'dd/MM/yyyy'}} au {{w.endOfWeek | date:'dd/MM/yyyy' }}.
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Equipe</mat-label>
                        <mat-select matNativeControl [(ngModel)]="selectedTeam" name="team" 
                            (selectionChange)="onChangeTeam($event)">
                        <mat-option value="" selected></mat-option>
                        <mat-option *ngFor="let t of teams" [value]="t">
                            Equipe {{t.Team}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        
            </mdb-card-body>
          </mdb-card>
        <div class="row">
          <div class="col-md-6">Next</div>
          <div class="col-md-6">.col-md-6</div>
        </div>
      </div>
      
    </div>
  </div>

