
<h2>Gestion des interclubs via AFTT</h2>
<div>
  Information sur la dernière synchronisation:
  <div *ngIf="afttSyncInfo; else no_sync_info">
    <p>ID: {{afttSyncInfo.id}}, &nbsp;Synchronisation effectuée: {{ afttSyncInfo.createdAt | date: 'dd/MM/yyyy hh:mm'}}</p>
  </div>
  <ng-template #no_sync_info>

  </ng-template>
  <button class="btn btn-sm" (click)="onSynchroniseNow()" [disabled]="synchronizing">Lire les données AFTT</button>
  <!-- <button class="btn btn-sm" (click)="onProcessNow()" [disabled]="synchronizing">Sync les données AFTT</button> -->
</div>

<mdb-tabset #staticTabs [buttonClass]="'md-tabs'" [contentClass]="'card'" *ngIf="afttSyncInfo">

  <mdb-tab heading="Equipes">
    <app-admin-equipes *ngIf="afttTeams && afttDivisionCategories" 
      [afttDivisionCategories]="afttDivisionCategories"
      [afttTeams]="afttTeams"></app-admin-equipes>
  </mdb-tab>

  <mdb-tab heading="Divisions">
    <app-admin-divisions *ngIf="afttDivisions && afttDivisionCategories" 
      [afttDivisionCategories]="afttDivisionCategories"
      [afttDivisions]="afttDivisions"></app-admin-divisions>
  </mdb-tab>

  <mdb-tab heading="Listes des forces">
    <app-admin-listesdesforces *ngIf="afttMembers && afttDivisionCategories"
      [afttDivisionCategories]="afttDivisionCategories"
      [afttMembers]="afttMembers"></app-admin-listesdesforces>
  </mdb-tab>

</mdb-tabset>